# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
venv/
env/
ENV/

# Model outputs
saved_models/checkpoints/*.ckpt
saved_models/lightning_logs/
saved_models/preprocessed/*.npy

# Results


# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
